---
// @ts-ignore
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";

const title = "About Mark Lata";
const description = "Learn more about Mark Lata and his photography work.";
---

<PageLayout title={title} description={description}>
  <Container size="md">
    <h1 class="text-4xl font-bold mb-6">About Mark Lata</h1>
    <div class="prose prose-lg dark:prose-invert">
      <p>
        <strong>Mark Laita</strong> has produced award-winning commercial work for
        clients such as Adidas, Apple and Mercedes-Benz. Laita&#8217;s first book
        of non-commercial work, <em>Created Equal, </em>is the result of an
        eight-year-long, cross-country project featuring 8&#215;10 black and
        white portraits of Americans from a wide array of cultures, occupations
        and backgrounds. His work has been exhibited in galleries in the United
        States and Europe.
      </p>
    </div>
  </Container>
</PageLayout>
