---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Contact">
  <div class="contact-content">
    <h1 class="text-black dark:text-white">Contact</h1>
    <div class="contact-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon-email"
      >
        <path
          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
        ></path>
        <polyline points="22,6 12,13 2,6"></polyline>
      </svg>
      <span class="text-black dark:text-white">Email Address: studio@marklaita.com</span>
    </div>
    <div class="contact-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon-address"
      >
        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
        <circle cx="12" cy="10" r="3"></circle>
      </svg>
      <span class="text-black dark:text-white">Mailing Address: 2403 Main Street, Santa Monica, CA 90405</span>
    </div>
  </div>
</PageLayout>

<style>
  .contact-content {
    padding-top: 30px;
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 30px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .icon-email,
  .icon-address {
    margin-right: 10px;
    @apply text-black dark:text-white;
  }

  span {
    font-size: 1rem;
  }
</style>
