---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE } from "@consts";
import FrontPageHeroImages from "@components/FrontPageHeroImages.astro";
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <main class="max-w-[1064px] mx-auto mt-[30px]">
    <FrontPageHeroImages />
  </main>
</PageLayout>
