---
interface Props {
  name: string;
  href: string;
  icon: string;
}

const { name, href, icon } = Astro.props;
---
<a 
  href={href} 
  target="_blank" 
  rel="noopener noreferrer"
  aria-label={`${name} social link`}
  class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend"
>
  <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
    <use href={`/social.svg#${icon}`} />
  </svg>
</a>
