---
import Container from "@components/Container.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mark Laita</title>
    <script src="/js/theme.js" is:inline></script>
  </head>
  <body>
    <div class="pt-36 pb-5">
      <Container size="md">
        <slot/>
      </Container>
    </div>
  </body>
</html>
